{% extends "base.html" %}
{% block content %}
<div class="card p-4 shadow-sm">
    <h4 class="fw-bold">Settings</h4>
    <hr>
    <div class="d-flex justify-content-between align-items-center">
        <span>Dark Mode</span>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="modeBtn" style="transform:scale(1.5)">
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    const btn = document.getElementById('modeBtn');
    if (localStorage.getItem('theme') === 'dark') btn.checked = true;
    btn.onchange = () => {
        if (btn.checked) { document.body.classList.add('dark-mode'); localStorage.setItem('theme', 'dark'); }
        else { document.body.classList.remove('dark-mode'); localStorage.setItem('theme', 'light'); }
    };
</script>
{% endblock %}